<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Expenses</title>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLpdd2XAl970XbOIa6gMmnTpVkQmeelfp6Rg&usqp=CAU" alt="Logo" width="40" height="35" class="d-inline-block align-text-mid">
                Expense Tracker
            </a>
            <a class="nav-link active" href="/profile"><%= username %>
                <img src="https://wellbeingchirony.com/wp-content/uploads/2021/03/Deafult-Profile-Pitcher.png" width="40" height="40" class="d-inline-block align-text-mid">
            </a>
        </div>
      </nav>
      <div style="margin: auto; width: 50%; padding: 20px;">
        <h1 style="color: grey; padding: 20px; text-align: center;">EXPENSES</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
            <div class="card">
                <a href="/expenses/food">
                    <img src="https://cdn.britannica.com/36/123536-050-95CB0C6E/Variety-fruits-vegetables.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                <h5 class="card-title">Food</h5>
                <p class="card-text">Total expense: <label style="color: green"><%= totalExpense.find(expense => expense.category === 'food') !== undefined ? totalExpense.find(expense => expense.category === 'food').sum : 0  %></label>€</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <a href="/expenses/housing">
                    <img src="https://www.davisvanguard.org/wp-content/uploads/2021/11/Housing-unsplash.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                <h5 class="card-title">Housing</h5>
                <p class="card-text">Total explense: <label style="color: green"><%= totalExpense.find(expense => expense.category === 'housing') !== undefined ? totalExpense.find(expense => expense.category === 'housing').sum : 0  %></label>€</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <a href="/expenses/transportation">
                    <img src="https://www.urban-transport-magazine.com/wp-content/uploads/2020/03/BVG-Berlin-Corona-4-c-UTM.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                <h5 class="card-title">Transportation</h5>
                <p class="card-text">Total expense: <label style="color: green"><%= totalExpense.find(expense => expense.category === 'transportation') !== undefined ? totalExpense.find(expense => expense.category === 'transportation').sum : 0  %></label>€</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <a href="/expenses/clothing">
                    <img src="https://www.wur.nl/upload/422cc661-0c79-41e9-b8e4-e2613be4fa5b_foto.jpg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                <h5 class="card-title">Clothing</h5>
                <p class="card-text">Total expense: <label style="color: green"><%= totalExpense.find(expense => expense.category === 'clothing') !== undefined ? totalExpense.find(expense => expense.category === 'clothing').sum : 0  %></label>€</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <a href="/expenses/utilities">
                    <img src="https://media.istockphoto.com/photos/high-voltage-pylons-with-electric-power-lines-transfering-electricity-picture-id1344124162?b=1&k=20&m=1344124162&s=170667a&w=0&h=ozboVIHVZItTGm2XKdymerrSz-XAksbJ4KoNoMXX4Gg=" class="card-img-top" alt="..." >
                </a>
                <div class="card-body">
                <h5 class="card-title">Utilities</h5>
                <p class="card-text">Total expense: <label style="color: green"><%= totalExpense.find(expense => expense.category === 'utilities') !== undefined ? totalExpense.find(expense => expense.category === 'utilities').sum : 0 %></label>€</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <a href="/expenses/savings">
                    <img src="https://www.aprendemasingles.com/wp-content/uploads/2014/04/hundred-dollar-bills-1024x682.jpeg" class="card-img-top" alt="..." >
                </a>
                <div class="card-body">
                <h5 class="card-title">Savings</h5>                    
                <p class="card-text">Total expense: <label style="color: green"><%= totalExpense.find(expense => expense.category === 'savings') !== undefined ? totalExpense.find(expense => expense.category === 'savings').sum : 0 %></label>€</p>
                </div>
            </div>
            </div>
        </div>
        <div style="text-align:center; padding: 20px;">
            <a class="btn btn-outline-success me-2" href="/expenses/add">Add Expense</a>
        </div>
    </div>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>